header{
    .header-main{
        background-color: hsl(0, 0%, 0%);
        padding: 0.5rem 5%;
        width: 90%;
        
        .header-main-logo{
            display: flex;

            svg{
                width: 3.7rem;
                color: hsl(0, 0%, 100%);
                margin-top: 1.25rem;
                margin-left: 20%;
            }
            h1{
                margin-top: 2rem;
            }
        }

        .header-main-menu{
            padding: 1rem 10%;
            width: 90%;

            ul{
                display: flex;
                justify-content: space-between;
                margin-right: 20%;
            }
            ul li{
                font-size: 1.2em;
                line-height: 2.5rem;
                height: 2.5rem;
                border-bottom: 0.063rem solid hsl(0, 0%, 100%);
            }
            ul li a{
                text-decoration: none;
                color: hsl(0, 0%, 100%);
                display: block;
                transition: .7s background-color;
            }
            a:hover{
                background-color: hsl(180, 1%, 30%);
            }            
        }
        
    }
}

@include menu-button;

