/*====================
========Slider========
======================*/
.slider{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 48rem;
    

    .slider-image{
        position: absolute;
        z-index: 0;
        filter: brightness(30%);
    }
    .slider-title{
        position: absolute;
        z-index: 1;
        width: 30%;
        top: 14rem;
        left: 33%;
        font-size: 32px;
        text-align: center;
        
        h2{
            color: hsl(0, 0%, 100%);
            text-decoration: overline;
            word-spacing: 1rem;
        }
    }

    .slider-button{
        position: absolute;
        z-index: 2;
        text-align: center;
        top: 47vh;
        left: 39%;
        width: 200px;
        padding: 8px;
        color: hsl(0, 0%, 100%);
        border: 2px solid hsl(0, 0%, 100%);
        outline: none;
        text-decoration: none;
        transition: background-color 0.2s ease-out,color 0.2s ease-out;
        cursor: pointer;
    
        :hover{
            background-color: hsl(180, 1%, 30%);
            transition: background-color 0.3s ease-in,color 0.3s ease-in;
        }
    }
}

/*====================
========Services======
======================*/
.services{
    justify-content: space-between;
    padding: 0.5rem 5%;
    margin-bottom: 2rem;
}

.service{
    box-shadow: 6px 20px 10px black;
}

.service-title h2,.service-photo,.service-text, .service-button{
    text-align: center;
}

.service-title{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.service-title h2,p, .service-button h3{
    color: hsl(0, 0%, 0%);
}

.service-button{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: 16%;
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: hsl(0, 0%, 0%);
    border: 2px solid hsl(0, 0%, 0%);
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,color 0.2s ease-out;
    cursor: pointer;

    :hover{
        background-color: hsl(0, 0%, 79%);
        transition: background-color 0.3s ease-in,color 0.3s ease-in;
    }
}

/*====================
=========Info=========
======================*/
.info{
    background-color: hsl(0, 0%, 0%);
    justify-content: space-between;
    padding: 2rem 10%;
}

.info-title{
    margin-bottom: 1rem;
}

.info-text p{
    color: hsl(0, 0%, 100%);
    font-style: italic;
}

.info-photo img{
    border-radius: 1000px;
}