h1, h2, h3, h4, h5, h6, a, p, ul, li, label, span{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4, h5 {
    font-family: "Helvetica";
}

h6, li, select, label {
    font-family: "Helvetica";
}

a, td, p, button, span{
    font-family: "Helvetica";
    text-decoration: none;
}